
<div class="centerElement oswaldFont mainPageText">Disclaimer</div>
<hr>
<div style="padding:0px 10px 10px 0px;">     
    <ul>
      <li>United States. Coast Guard Cert doesn't guarantee the correctness of the questions on the site.</li>
      <li>United States. Coast Guard Cert doesn't take responsibility on how the question are used on the website.</li>
      <li>All illustrations and questions where release under public domain and are property of the United States Coast Guard.</li>
    </ul>  
</div>











