<div *ngIf="showComponent" >
  <div class="alert alert-success infoMessage" role="alert" style='padding:5px;' > Please Verify your account. Check you email. 
    <button type="button" style="max-width: 150px;display: inline-block;" class="btn btn-primary btn-block" (click)='sendEmalVerication()'>Re-Send Email</button>
    <span style="display: inline-block;"><a href="#"><i class="fa fa-times fa-2x" style='vertical-align:middle;' aria-hidden="true" (click)='Hide()'></i></a></span>
  </div>             
</div>