<div class="panel panel-warning" style='max-width: 250px;'>
  <div class="panel-heading">    
        <span class="panel-title">Category</span>                   
  </div>
  <div class="panel-body">
    <div class="list-group">          
      <a href="#" (click)="changeCategory(1)" class="list-group-item">RULES OF THE ROAD</a>
      <a href="#" (click)="changeCategory(2)" class="list-group-item">DECK GENERAL</a>
      <a href="#" (click)="changeCategory(3)" class="list-group-item">GENERAL NAVIGATION</a>
      <a href="#" (click)="changeCategory(4)" class="list-group-item">SAFETY</a>      
      <a href="#" (click)="changeCategory(5)" class="list-group-item">NAVIGATION PROBLEMS</a>
      <a href="#" (click)="changeCategory(6)" class="list-group-item">ELEMENT 3</a>
      <a href="#" (click)="changeCategory(7)" class="list-group-item">ELEMENT 7</a>
      <a href="#" (click)="changeCategory(13)" class="list-group-item">ELECTRICITY</a>
      <a href="#" (click)="changeCategory(14)" class="list-group-item">GENERAL SUBJECTS</a>
      <a href="#" (click)="changeCategory(15)" class="list-group-item">MOTOR PLANTS AND AUXILIARY BOILERS</a>
      <a href="#" (click)="changeCategory(16)" class="list-group-item">STEAM PLANTS</a>
      <a href="#" (click)="changeCategory(17)" class="list-group-item">ENGINEERING SAFETY</a>
      <a href="#" (click)="changeCategory(18)" class="list-group-item">REFRIGERATION</a>
      <a href="#" (click)="changeCategory(19)" class="list-group-item">GAS TURBINES</a>
    </div>
  </div>  
</div>
