<br><br>
<div class="row">   
  <span class="col-xs-1 col-sm-1 col-md-2" ></span>
  <span class="col-xs-10 col-sm-10 col-md-8" >            
    <div class="panel panel-primary">
      <div class="panel-heading">Recover Loss password</div>
      <div class="panel-body">                                                                    
          <div class="input-group form-group">
            <span class="input-group-addon"><span style="font-weight: bold;font-size:1.3em;" >@</span></span>
            <input type="text" tabindex="2" class="form-control" placeholder="Email address" [(ngModel)]='Email'>
          </div>             
          <hr>
          <div class="alert alert-success infoMessage" role="alert" *ngIf="ShowInfo == 1" > {{ InfoMessage }}</div>        
          <div class="alert alert-danger  infoMessage" role="alert" *ngIf="ShowInfo == 2" > {{ InfoMessage }}</div>        
          <div><button type="button" class="btn btn-primary btn-block" (click)='recoverLossPassword()'>Sent recovery info to my email</button></div>          
      </div>
    </div>        
  </span>
  <span class="col-xs-1 col-sm-1 col-md-2" ></span>
</div>


