<div style="background:white;border-bottom: thin solid black;margin-bottom: 10px;" >  
  <span class='navTop'>
    <ul>                    
      <li><a routerLink='/testgenerator'       routerLinkActive='activeLink' >Test</a></li>          
      <li><a routerLink='/userscorehistory'    routerLinkActive='activeLink' >Score</a></li>                        
      <li><a routerLink='/favoritesquestion'   routerLinkActive='activeLink' >Favorites</a></li>
      <li><a routerLink='/blacklistedquestion' routerLinkActive='activeLink' >Blacklisted</a></li>            
      <li><a routerLink='/questionhistory'     routerLinkActive='activeLink' >History</a></li>                
      <li><a routerLink='/questionsearch'      routerLinkActive='activeLink' >Search</a></li>                                    
    </ul> 
  </span>    
</div>