<div class="centerElement mainLogo" >
    <img [src]="img_path_logo" alt="Illustration" style="max-width:300px;">
</div>
<div class="centerElement oswaldFont mainPageText" ><h4>Welcome to the largest collection of questions for the United Stated Coast Guard Certification licensing exam.</h4></div>
<div class="centerElement oswaldFont mainPageText" ><h3>Get started and view the questions for Free</h3></div>
<div class="centerElement mainVideo"  >
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9glzxlnDZf8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<div style="text-align: center;">
  <button type="button" style="max-width: 300px;display: inline-block;" class="btn btn-success btn-block" (click)='gotoQuestions()'>View Questions</button>
</div>
<!-- <div class="centerElement oswaldFont mainPageText" ><h4>You can also created an account and pay a low monthly fee and get access to a lot of great features.</h4></div> -->
<app-membershipinfo [showTitle]='false'></app-membershipinfo>

