<div class='mobilePadding'>
  <div class="centerElement oswaldFont mainPageText" >Search Questions</div>
  <hr>
  <div class="row">           
    <div class="col-xs-10 col-md-7" >            
      <span class="input-group" style="max-width:600px;">
        <span class="input-group-addon" id="basic-addon1">Search</span>
        <input type="text" [(ngModel)]='searchstring' class="form-control" placeholder="Questions" aria-describedby="basic-addon1">
      </span>
    </div>
    <div class="col-xs-2 col-md-1" >  
      <span class='btnWidth' ><button class="btn btn-success glyphicon glyphicon-search"  (click)='SearchQuestion()' ></button></span>          
    </div>            
  </div>
  <br>
  <app-loading-spinner *ngIf="showLoading" ></app-loading-spinner>
  <span *ngIf="!showLoading">
    <div class="row">   
      <span class="hidden-xs col-sm-12 col-md-12" >            
        <div class='table-question' >
          <div *ngIf="Questions.length > 0" >
            <div class="panel panel-default">    
              <div class="panel-heading"><span class='oswaldFont' style='font-size: 1.5em;color: #2d80c7;'>Search Result</span></div>    
              <table class="table table-striped">
                <tr>
                  <th>#</th>        
                  <th>Category</th>
                  <th>Question</th>
                  <th>View</th>          
                </tr>      
                <tr *ngFor='let Question of Questions; let i = index' >
                  <td>{{i+offset+1}}</td>
                  <td>{{Question.category}}</td>
                  <td>{{Question.question}}</td>        
                  <td><span  class='btnWidth' ><button type="button" class="btn btn-success glyphicon glyphicon-th-list"  (click)='ShowQuestion(Question.question_id)' ></button></span></td>        
                </tr>
              </table>    
            </div>          
          </div>        
        </div>    
      </span>
    </div>
    <div class="row">   
      <span class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl" >            
        <div class='table-question' >
          <div *ngIf="Questions.length > 0" >
            <div class="panel panel-default">    
              <div class="panel-heading"><span class='oswaldFont' style='font-size: 1.5em;color: #2d80c7;'>Search Result</span></div>    
              <table class="table table-striped" style="font-size: 0.8em !important;">
                <tr>
                  <th>#</th>                        
                  <th>Question</th>
                  <th>View</th>          
                </tr>      
                <tr *ngFor='let Question of Questions; let i = index' >
                  <td>{{i+offset+1}}</td>                
                  <td>{{Question.question}}</td>        
                  <td><span  class='btnWidth' ><button type="button" class="btn btn-success glyphicon glyphicon-th-list"  (click)='ShowQuestion(Question.question_id)' ></button></span></td>        
                </tr>
              </table>    
            </div>          
          </div>        
        </div>    
      </span>
    </div>
    <app-pagination [pagesInfo]='pagesInfo' (click)='paginationClick()' ></app-pagination>  
    <div class="alert alert-success infoMessage" role="alert" *ngIf="ShowInfo == 1" > {{ InfoMessage }}</div>        
    <div class="alert alert-danger  infoMessage" role="alert" *ngIf="ShowInfo == 2" > {{ InfoMessage }}</div>        
  </span>  
</div>
